* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vehicleSection {
    margin: 2vh 0;
}

.vehicleimg {
    width: 8vh;
}

.iconsButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    margin: 1px 1px;
    cursor: pointer;
    border: 2px solid grey;
    padding: 2px;
}