.navbar {
    background-color: #161925;
    color: #cbf7ed;
    padding: 10px;
    width: 100vw;
}

.PJName {
    font-size: 1.2em;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li img {
    height: 50px;
    width: auto;
}