.swiper {
    width: 80vw;
    height: 50vh;
    margin: 1rem 0 2rem 0;
    position: fixed;
    bottom: 0rem;
}
  

.swiper-slide img {
    width: 100%;
    height: 70%;
}

.slideDiv{
    text-align: center;
    margin-top: 1rem;
}

 .autoname {
    background: radial-gradient(circle, rgba(64,110,142,1) -40%, rgba(203,247,237,1) 280%);
}