.yourDates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-calendar__tile--active {
    background-color: #23395b;
}

.react-calendar__tile--now {
    background: #cbf7ed;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: #23395b;
}

.datesh2 {
    margin: 1rem 0;
}

.DButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    background-color: #161925;
    border-radius: 5px;
}

.DButton {
    height: 2rem;
    width: 4.5rem;
    background-color: #cbf7ed;
    border: 1px solid #cbf7ed;
    border-radius: 10px;
}

#note {
    border-color: #161925
}

.terminTag {
    background-color: red !important; /* Rot für die Hervorhebung */
    color: white !important; /* Weiße Textfarbe für bessere Lesbarkeit */
}