.LPDates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.yourCarsLP {
    text-align: center;
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 1rem;
}

.LPButtons {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 5rem;
    width: 100vw;
    background-color: #161925;
    border-radius: 0.5rem;
    position: fixed;
    bottom: 0;
}