* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Loginpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 70vw;
    background-color: #ecededb7;
    border: #00000021;
    border-radius: 4%;
}

.loginsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.buttonsLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginButton {
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
}

ul li {
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
}