.yourCars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

 .allImages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
}

.carImg {
    width: 80%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px;
    border: 2px solid black;
}

.buttonstyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;  
}

.trash, .zahnrad {
    width: 1.5rem;
    height: 1.5rem;
    padding-top: 0.5rem;
}